# Ignore Python virtual environments
ATS/venv/

# Ignore compiled Python files
ATS/__pycache__/


# Ignore environment files
ATS/.env


# Ignore Python virtual environments
CalorieAdviser/venv/

# Ignore compiled Python files
CalorieAdviser/__pycache__/


# Ignore environment files
CalorieAdviser/.env